.App {
  margin: 0 auto;
  width: 80%;
  display: block;
}
img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
.display {
  display: block;
  background-image: url("https://static4.depositphotos.com/1008265/313/i/450/depositphotos_3130662-stock-photo-nice-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  align-items: center;
  border: 0px solid black;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  padding: 1rem 0rem;
}
